/** Whole Document**/
* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 .container {

 }

.navbar-default {
  background-color: rgba(250 , 250 , 250 , 0.9);
  border: 0;
  font-family: Raleway;
}

.brand-image {
  display: inline;
}

.contact-button {
  display: inline;
}

.custom-btn {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  margin-top: 6px !important;
  background-color: orange !important;
}

.showcase {
  height: 900px;
  background: url(PhotoFilterBackground.png) no-repeat center top;
  background-size: cover;
  color: white;
  font-family: Raleway , sans-serif;
}

.showcase-text {
  margin-top: 300px;
  font-size: 50px;
}
