/** Whole Document**/
* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 .container {

 }

.navbar-default {
  background-color: white;
  border: 0;
  font-family: Raleway;
  box-shadow: none !important;
}

.brand-image {
  display: inline;
  background-color: transparent !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
}


.contact-button {
  display: inline;
  margin-top: 6px !important;
  color: #F7CE3E !important;
  font-size: 16px;
}

.custom-btn {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  color: white;
  background-color: transparent !important;
  border:  1px solid #F7CE3E;
}

.showcase {
  min-height: 750px;
  background: url(img/PhotoFilterBackground2.svg) no-repeat center top;
  background-size: cover;
  color: white;
  font-family: Raleway , sans-serif;
  background-attachment: fixed;
}

.showcase-text {
  margin-top: 300px;
  font-size: 50px;
}
 .demo-button {
   margin-top: 40px;
   margin-bottom: 80px;
 }
 .glyphicon-menu-down {
   font-size: 50px;
   color: white;
   text-align: center;
   display: block;
 }
 .divider1 {
   background-color: whitesmoke;
   padding-top: 10px;
   padding-bottom: 18px;
   color: #174A75;
   font-family: Raleway;
 }
 .glyphicon-folder-open {
   font-size: 400px;
   color: #F7CE3E;
   opacity: 0.5;
   position: absolute;
   margin-top: 850px;
   display: none;
 }
.descr1 {
  min-height: 300px;
  padding-top: 100px;
  padding-bottom:100px;
}
 .descr1-text {
   font-family: Raleway;
   vertical-align: middle;
   padding-right: 40px;
   font-size: 1.75rem;

 }
 .computer-image1 {
   padding-left: 20px;
   margin: auto;
   display: inline-block;
   max-width: 100%;
   max-height: 500px;
   vertical-align: middle;
 }
 .descr2 {
   background-color: whitesmoke;
 }

.descr2-1 {
  min-height: 300px;
  vertical-align: middle;
}

.descr2-2 {
  min-height: 300px;
}

.descr2-3 {
  min-height: 300px;

}

.descr2-1-logo {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top:100px;
}

.descr2-head1 {
  font-size: 30px;
}

.descr2-2-logo {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top:100px;
}
.descr2-head2 {
  font-size: 30px;
}

.descr2-3-logo {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top:100px;
}
.descr2-head3 {
  font-size: 30px;

}

.descr2-body1 {
  padding-top: 50px;
  padding-bottom: 100px;

}

.descr2-body2 {
  padding-top: 50px;
  padding-bottom: 100px;

}

.descr2-body3 {
  padding-top: 50px;
  padding-bottom: 100px;

}
.descr3 {
  min-height: 300px;
  background-image: url(img/ArchitectureRight.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.descr3-head {

}
.descr3-body {
  background-color: rgba(255, 255, 255, 0.9);
}


.footer {
  height: 2000px;
}

@media only screen and (min-device-width: 992px) {
  .computer-image1 {
    width: 400px;
    display: block;
    margin: 0 auto;
  }
}
