/** Whole Document**/
* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 16px;
}
 .container {

 }
 .white-background {
   background-color: white;

 }
 .gray-background {
   background-color: whitesmoke;
 }

.navbar-default {
  background-color: white;
  border-bottom: 1px solid gainsboro;
  font-family: Raleway;
  box-shadow: none !important;
}

.brand-image {
  display: inline;
  background-color: transparent !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
}
.custom-nav-logo {
  margin-top: 12px ;
  margin-right:  ;
  margin-bottom: 12px;
}

.contact-button {
  display: inline;
  margin-top: 6px !important;
  color: #ff6600 !important;
  font-size: 1rem;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  background-color: transparent !important;
  border:  1px solid #ff6600;
}

.custom-btn-demo {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  color: white;
  background-color: transparent !important;
  border:  1px solid #ff6600;
}

.showcase {
  min-height: 750px;
  background: url(img/PhotoFilterBackground2.png) no-repeat center top;
  background-size: cover;
  color: white;
  font-family: Raleway , sans-serif;
  background-attachment: fixed;
}

.showcase-text {
  margin-top: 300px;
  font-size: 3rem;
}

.showcase-tagline {
  font-size: 1.75rem
}
 .demo-button {
   margin-top: 40px;
   margin-bottom: 80px;
   color: #ff6600;
 }
 .glyphicon-menu-down {
   font-size: 50px;
   color: white;
   text-align: center;
   display: block;
 }
 .divider1 {
   background-color: whitesmoke;
   padding-top: 10px;
   padding-bottom: 18px;
   color: #174A75;
   font-family: Raleway;

 }
 .dividerAbout1 {
   background-image: url(img/ArchitectureImg1.jpg);
   background-attachment: fixed;
   background-position: center;
   padding-top: 30px;
   padding-bottom: 38px;
   color: white;
   font-family: Raleway;
   text-shadow: 0px 1px 10px #606060;
   margin-top: 50px;

 }

 .dividerAbout2 {
   background-image: url(img/ArchitectureImg2.jpg);
   background-attachment: fixed;
   background-position: center;
   padding-top: 30px;
   padding-bottom: 38px;
   color: white;
   font-family: Raleway;
   text-shadow: 0px 1px 10px #606060;

 }

 .dividerAbout3 {
   background-image: url(img/ArchitectureImg3.jpg);
   background-attachment: fixed;
   background-position: center;
   padding-top: 30px;
   padding-bottom: 38px;
   color: white;
   font-family: Raleway;
   text-shadow: 0px 1px 10px #606060;

 }

 .dividerAbout4 {
   background-image: url(img/ArchitectureImg4.jpg);
   background-attachment: fixed;
   background-position: center;
   padding-top: 30px;
   padding-bottom: 38px;
   color: white;
   font-family: Raleway;
   text-shadow: 0px 1px 10px #606060;

 }

 .dividerAbout5 {
   background-image: url(img/ArchitectureImg5.jpg);
   background-attachment: fixed;
   background-position: center;
   padding-top: 30px;
   padding-bottom: 38px;
   color: white;
   font-family: Raleway;
   text-shadow: 0px 1px 10px #606060;

 }

 .dividerAbout6 {
   background-image: url(img/ArchitectureImg6.jpg);
   background-attachment: fixed;
   background-position: center;
   padding-top: 30px;
   padding-bottom: 38px;
   color: white;
   font-family: Raleway;
   text-shadow: 0px 1px 10px #606060;

 }

 .dividerAbout7 {
   background-image: url(img/ArchitectureImg7.jpg);
   background-attachment: fixed;
   background-position: center;
   padding-top: 30px;
   padding-bottom: 38px;
   color: white;
   font-family: Raleway;
   text-shadow: 0px 1px 10px #606060;

 }

 .glyphicon-folder-open {
   font-size: 400px;
   color: #F7CE3E;
   opacity: 0.5;
   position: absolute;
   margin-top: 850px;
   display: none;
 }
.descr1 {
  min-height: 300px;
  padding-top: 100px;
  padding-bottom:100px;
}
 .descr1-text {
   font-family: Raleway;
   vertical-align: middle;
   padding-right: 40px;
   font-size: 1rem;
   list-style: none;

 }
 .computer-image1 {
   padding-left: 0px;
   margin: auto;
   display: inline-block;
   max-width: 100%;
   max-height: 500px;
   vertical-align: middle;
 }
 .descr2 {
   background-color: whitesmoke;
 }

.descr2-1 {
  min-height: 300px;
  vertical-align: middle;
}

.descr2-2 {
  min-height: 300px;
}

.descr2-3 {
  min-height: 300px;

}

.descr2-1-logo {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top:100px;
}

.descr2-head1 {
  font-size: 30px;
}

.descr2-2-logo {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top:100px;
}
.descr2-head2 {
  font-size: 30px;
}

.descr2-3-logo {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top:100px;
}
.descr2-head3 {
  font-size: 30px;

}

.descr2-body1 {
  padding-top: 50px;
  padding-bottom: 100px;

}

.descr2-body2 {
  padding-top: 50px;
  padding-bottom: 100px;

}

.descr2-body3 {
  padding-top: 50px;
  padding-bottom: 100px;

}
.descr3 {
  min-height: 500px;
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 100px;
}
.descr3-head{
  font-family: Raleway;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: block;
  text-align: center;
  font-size: 3em;
  margin-bottom: 120px;
}
.descr3-1{
  text-align: center;
}

.descr3-2 {
  text-align: center;
}

.descr3-3 {
  text-align: center;

}

.descr4 {
  width: 100%;
}

.PROJEXShareDiagram1 {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer {
  height: 300px;
  background-color: #3A5199;
  margin-top: 20px;
  position:relative;

}
.copywrite-text {
  color: white;
  font-family: Raleway;
  margin-top: 260px;
}
.footer-link {
  margin-left: 10px;
  font-family: Raleway;
  color: white;



}

@media only screen and (min-device-width: 992px) {
  .computer-image1 {
    width: 400px;
    display: block;
    margin: 0 auto;
  }
}
